node_modules
.DS_Store

# Build outputs
dist
build
.next
.turbo
.output
.wxt

# Turbo cache
.turbo

# TypeScript
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
